body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.site-logo {
    --textLogo: limegreen;
    --textLogo-inverse: #333;
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--textLogo);
    text-decoration: none;!
}

header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5em 3em;
    margin-top: -1.5em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}

.nav__list {
    list-style: none;
    margin: 0;
    margin-right: -20px;
    padding: 0;
    display: flex;
}

.nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
}

.nav__link--btn::after {
    display: none;
}

.nav__link--btn--highlight-login {
    background: #32CD32;
    border-color: #32CD32;
    color: #333;
}

.nav__link--btn--highlight-logout{
    background: #f84f4f;
    border-color: #f84f4f;
    color: #333;
}

.nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
}

.nav-scrolled {
    --textLogo: #333;
    --textLogo-inverse: limegreen;
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.logo-scrolled {
    --textLogo: #333;
    --textLogo-inverse: limegreen;
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
}

.home-intro {
    padding: 50vh 0;
    background: radial-gradient(ellipse, #ec0598, #cb1539), url("https://images.westend61.de/0000732744pw/red-wine-splashing-in-glass-in-front-of-white-background-CPF000031.jpg");
    background-size: auto;
    background-position: center;
    background-blend-mode: multiply;
    position: -webkit-sticky;
    color: white;
    text-align: center;
}

.home-about {
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
}

.columns {
    display: flex;
}

.col + .col {
    margin-left: 1.5em;
}

.more-stuff-grid {
    background: #f4f4f4;
    padding: 2em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}


.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.mapFrame
{
    border-style: solid;
    border-width: 6px;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px #000000;
    margin: auto;
    border-radius: 80px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    position: relative;
}










.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;

}

.tabset .tab-panel {
    display: none;

}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}



.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;

}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 20px;
    width: 22px;
    height: 2px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: limegreen;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: limegreen;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}


.tabset {
    max-width: 100em;
    background: #f4f4f4;
}