@import url('https://fonts.googleapis.com/css?family=Lato');
html{
    background: #f4f4f4;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.site-logo {
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--text);
    text-decoration: none;
}

header {
    --text: #f4f4f4;
    --text-inverse: #333;
    --background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
}

.nav__list {
    list-style: none;
    margin: 0;
    margin-right: -20px;
    padding: 0;
    display: flex;
}

.nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
}

.nav__link--btn::after {
    display: none;
}

.nav__link--btn--highlight-login {
    background: #7dd96e;
    border-color: #7dd96e;
    color: #333;
}

.nav__link--btn--highlight-logout{
    background: #f84f4f;
    border-color: #f84f4f;
    color: #333;
}

.nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
}

.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.home-intro {
    padding: 50vh 0;
    background: #771d31 url("https://cdn.pixabay.com/photo/2015/11/30/23/32/champagner-1071356_960_720.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}

.home-about {
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
}

.columns {
    display: flex;
}

.col + .col {
    margin-left: 1.5em;
}

.more-stuff-grid {
    background: #f4f4f4;
    padding: 2em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .searchbox {
    position: relative;
    display: block;
    width: 100%;
    max-width: 53px;
    transition: 0.4s linear;
    overflow: hidden;
}
.container .searchbox .searchbox__input {
    display: block;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #24233A;
    padding: 15px;
    color: #24233A;
    font-size: 20px;
    cursor: pointer;
}
.container .searchbox .searchbox__input::placeholder {
    color: #24233A;
}
.container .searchbox .searchbox__icon {
    position: absolute;
    right: calc(53px / 2);
    top: 50%;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.container .searchbox .searchbox__icon path {
    fill: #7dd96e;
    transition: 0.4s linear;
}
.container .searchbox:focus-within {
    max-width: 300px;
}
.container .searchbox:focus-within .searchbox__input {
    background-color: #FFF;
    padding-right: 50px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.container .searchbox:focus-within .searchbox__icon path {
    fill: #24233A;
}

/*CARDS*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {

    font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}

.flip-card-container {
    --hue: 110;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);
    position:relative;
    display: block;
    float: left;
    width: 310px;
    height: 500px;
    margin: 40px;
    margin-left: 130px;
    margin-right: auto;
    perspective: 1000px;
}

.flip-card {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

figure {
    z-index: -1;
}

figure,
.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    margin-left: -200px;
    height: 100%;
    border-radius: 24px;
}

figcaption {
    display: block;
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 12px;
    color: var(--white-1);
    background: hsla(var(--hue), 25%, 10%, .5);
}

.img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
    content: "";
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    transition: .1s;
}

.card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

.flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
}

.card-list {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: var(--white-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-list-element {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.card-list-element:nth-child(2n) {
    color: var(--white-2);
}

.card-list-element:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: .2;
}

button {
    font-family: inherit;
    font-weight: bold;
    color: var(--white-1);
    letter-spacing: 2px;
    padding: 9px 20px;
    border: 1px solid var(--grey);
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
    cursor: pointer;
}

button:hover,
button:focus {
    color: white;
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: #7dd96e;
}

button:active {
    transform: translate(2px);
}

.design-container {
    --tr: 90;
    --op: .5;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.design {
    display: block;
    background: var(--grey);
    position: absolute;
    opacity: var(--op);
    transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
    width: 1px;
    height: 100%;
}

.design--1,
.design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
    left: 20%;
}

.design--2 {
    left: 80%;
}

.design--3,
.design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
    left: 24%;
}

.design--4 {
    left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
    width: 100%;
    height: 1px;
}

.design--5,
.design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
    top: 41%;
}

.design--6 {
    top: 59%;
}

.design--7,
.design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
    top: 44%;
}

.design--8 {
    top: 56%;
}

button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
    --tr: 20;
    --op: .7;
}
